<div class="row">
  <div class="col-12 col-md-4">
    <div class="card">
      <img class="card-img" src="https://image.tmdb.org/t/p/w300_and_h450_bestv2{{ movie?.backdropPath }}" alt="">
    </div>
  </div>
  &nbsp;
  <div class="col-12 col-md-7">
    <div class="card">
      <div class="card-header">
        <h5 class="card-title">{{ movie?.title }} ({{ movie?.releaseYear }})</h5>
      </div>
      <div class="card-body">
        <p class="card-title text-justify"><strong>Sinopse:</strong> {{ movie?.description }}</p>
        <p><strong>Gêneros:</strong> </p>
        <div class="d-inline-block" *ngFor="let genre of movie?.generes">
            <span class="badge badge-pill badge-primary">{{ genre?.name }}</span>
        </div>
        <br/>  <br/>
        <p><strong>Produtoras:</strong> </p>
        <div class="d-inline-block" *ngFor="let company of movie?.production_companies">
          <img src="https://image.tmdb.org/t/p/w50_and_h50_bestv2{{ company.logo_path }}" class="img-thumbnail"
            alt="">&nbsp;
        </div>
        <p><strong>Elenco:</strong> </p>
        <div class="d-inline-block" *ngFor="let cast of casts">
          <img src="https://image.tmdb.org/t/p/w50_and_h50_bestv2{{ cast.profilePicture }}" class="img-thumbnail"
            alt="">&nbsp;
          <span>{{cast.actor}}</span>
          <span>{{cast.character}}</span>
        </div>
      </div>
    </div>
  </div>
</div>