
  <nav class="navbar navbar-expand-lg navbar-dark fixed-top bg-primary">
    <!-- Navbar content -->
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" [routerLink]="['movie']">Filmes</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['serie']">Séries</a>
      </li>
    </ul>
  </nav>

  &nbsp;
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
<div class="container">
  
  <router-outlet></router-outlet>
  <button type="button" class="btn btn-primary">Primary</button>
</div>
